:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root:has(button[aria-checked="true"]) {
  color-scheme: dark;
}
:root:has(button[aria-checked="false"]) {
  color-scheme: light;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

#root {
  height: 100%;
  display: grid;
  place-items: center;
  gap: 1rem;
}

h1 {
  font-size: 3.2em;
  margin: 0;
}

button[aria-checked] {
  background-color: grey;
  position: relative;
  height: 30px;
  width: 60px;
  cursor: pointer;
  padding: 0.2rem;
  border: 0.2px solid rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  transition: 0.3s all ease-in;
}

button[aria-checked="true"] {
  background-color: whitesmoke;
}


button[aria-checked]::before {
  content: "";
  display: block;
  border-radius: 50%;
  background-color: whitesmoke;
  height: 100%;
  aspect-ratio: 1;
  transition: 0.3s all ease-in;
}
button[aria-checked="true"]::before {
  background-color: grey;
  translate: 30px 0;
}